* {
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 960px;
    margin: 150px auto;
    background-color: rgb(142, 38, 211);
    padding: 15px;
    border-radius: 30px;
    
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
    
    
}

.list img {
    flex-basis: calc((100% - 30px) / 3);
    border-radius: 30px;
    
}

.item {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(209, 58, 164, 0.726);
    transform: translateX(-100%);
    transition: transform 1s ease;
    box-shadow: inset 0px 0px 60px 32px rgba(255, 255, 255, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.644);
   font-size: 22px;
}

.item:hover .overlay {
    transform: translateX(0);
}

